
body {
	margin: 0;
	padding: 0;
	background-color: #BDBDBD;
	/* background: #00adb5 url(images/texture.jpg) repeat; */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #808080;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: 'Nova Mono', cursive;
	/* font-weight: normal; */
	color: black;	
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: underline;
}

img.border {
	border: 6px solid #EEE7DF;
}

img.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
	/* background: url(images/img03.jpg) no-repeat center top; */
}

/* Header */

#header-wrapper {
	height: 240px;
}

#header {
	width: 960px;
	height: 240px;
	margin: 0 auto;
}

/* Logo */

#logo {
	float: left;
	height: 100px;
	margin: 0;
	padding: 0px;
	color: #1A1A1A;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	float: left;
	margin: 0px;
	padding-top: 100px;
	padding-left: 30px;
	letter-spacing: -1px;
	font-size: 64px;
	color: #1A1A1A;
}

#logo h1 a {
	color: #1A1A1A;
}

#logo p {
	padding: 0px 0 0 34px;
	font-family: 'Nova Mono', cursive;
	font-size: 20px;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #A4A4A4;
}


/* Nav */

#nav {
	width: 960px;
	height: 40px;
	margin: 0 auto;
	padding: 0;
	background: #000000;
}

#nav ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#nav li {
	float: left;
}

#nav a {
	display: block;
	float: left;
	height: 35px;
	margin: 0px;
	padding: 5px 30px 0px 30px;
	text-decoration: none;
	font-family: 'Nova Mono', cursive;
	font-size: 20px;
	color: #B5B5B5;
	border: none;
}

#nav .current_page_item a {
	color: #FFFFFF;
}

#nav a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

/* Main */

.main-content {
	/* border: 1px solid black; */
	display:flex;
	flex-wrap: wrap;
	margin: 50px auto;
	height:auto;
	width: 960px;
}
.card{
	margin-left: 30px;
	margin-top: 30px;
	background-color: transparent;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  	transition: 0.3s;
  	width: 20%;
}
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.card img{
	width:100%;
}
.card-action{
	  display:flex;
	  justify-content: space-between;
  }

 .card-action a {
	background-color: red;
	color: white;
	padding: 1em 1.5em;
	text-decoration: none;
	text-transform: uppercase;
  }
  
  .card-action a:hover {
	background-color: #555;
  }
  
/* Footer */

#footer {
	width: 960px;
	height: 55px;
	margin: 0px auto 40px auto;
	border-top: 1px solid #D0D0D0;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 18px;
	line-height: normal;
	text-align: center;
	color: #676767;
}

#footer a {
	color: #676767;
}
